// Place a copy of this file named config.json into the glycemiq_server directory
// to manage local configuration
{
  "FLASK": {
    "DEBUG": false,
    "SQLALCHEMY_DATABASE_URI": "",
    "SQLALCHEMY_TRACK_MODIFICATIONS": false,
    "SECRET_KEY": ""
  },
  "LOGGING": {
    "LOG_LEVEL": "DEBUG",
    "LOG_FORMAT": "%(asctime)s - %(levelname)s - %(module)s:%(name)s:%(lineno)d - %(message)s"
  },
  "APP": {
    "MAIL_SERVER": "",
    "MAIL_PORT": 0,
    "MAIL_USER": "",
    "MAIL_PASSWORD": "",
    "URL_SERIALIZER_KEY": "",
    "URL_SERIALIZER_SALT": ""
  }
}