{% extends "layout.html" %}

{% block title %}Registration Success{% endblock %}
{% block section_title %}
<div class="col-md-4 col-md-offset-4"><h3>Thank you for registering!</h3></div>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <p>A confirmation e-mail has been sent to you.</p>
                <p>Please click on the link in the email in order to complete your registration.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}